<template>
  <!--<panel-oftamologo/>-->

  <OdontogramaVue/>
  <!--aprendiendo-vue/> -->
</template>
<script>
/* @ is an alias to /src*/
//import PanelOftamologo from '../components/PanelOftamologo.vue'
import OdontogramaVue from "../components/OdontogramaVue.vue";
//import Aprendiendo-vue from '../components/AprendiendoVue.vue'

export default {
  name: "Home",
  components: {
    // PanelOftamologo,
    OdontogramaVue,
    //AprendiendoVue
  },
};
</script>
