<template>
	<div>
		{{ numero }}
		<div>
			<input type="text" v-model="nuevoLenguaje" />
			<input type="text" v-model="nuevoLink" />
			<button @click="agregarLenguaje">Agregar Lenguaje</button>
			<button @click="suma">suma</button>
			<button @click="resta(2)">resta</button>
		</div>
		<!--<ul>
			<li v-for="lenguaje of lenguajes" :key="lenguaje.nombre">
				<a :href="lenguaje.link" target="_blank">{{
					lenguaje.nombre
				}}</a>
			</li>
		</ul>-->
         <div class="p-5 bg-success text-white">
            <button @click="getLengujes" >Carga Lenguajes</button>
            <ul>
                <li v-for="leguaje of leguajes" :key="leguaje.nombre">{{leguaje.nombre}} </li>
            </ul>
          </div>
	</div>
</template>

<script>
import Vuex from "vuex";

export default {
	data() {
		return {
			titulo: "hola mundo",
		/*	lenguajes: [
				{ nombre: "Java", link: "https://www.java.com" },
				{ nombre: "Javascritp", link: "https://www.javascritp.com" },
				{ nombre: "php", link: "https://www.php.com" },
			],*/
			nuevoLenguaje: "",
			nuevoLink: "",
		};
	},
	mutations: {
		suma(state) {
			state.numero++;
		},
	},
	computed: {
		...Vuex.mapState(["numero",'leguajes']),
	},
	methods: {
		agregarLenguaje() {
			console.log(this.nuevoLenguaje);
			this.lenguajes.push({
				nombre: this.nuevoLenguaje,
				link: this.nuevoLink,
			});
		},
		...Vuex.mapMutations(["suma",'resta']),
         ...Vuex.mapActions(['getLengujes'])
	},
};
</script>

<style></style>
