<template>
   <b-container>
      <b-row align-h="center" class="text-center">

      <b-col lg="8" md="8">
      <p class="font-weight-bold h3">ODONTOGRAMA</p>
          <div  v-bind:style="{ padding: '0', 'margin-top':'10px'}">
            <div  ref="contenedor" id="conten">
              <canvas style="width:500px, heigth: 600px" ref="can" class="principal"></canvas>
            </div>
          </div>
    </b-col>

    <b-col lg="4" md="4">
       <p class="font-weight-bold h4">Opciones</p>
      <div class="accordion" role="tablist">
    <b-card no-body>
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block v-b-toggle.accordion-1 variant="info">Dibujar</b-button>
      </b-card-header>
      <b-collapse id="accordion-1" visible accordion="my-accordion" role="tabpanel">
        <b-card-body>
           <b-row >
      <label> <b-icon icon="arrow-up"></b-icon> Grosor Linea:</label>
      <input type="range" min="0" max="150" id="lineWidthInput" value="1"> 
      <span id="lineWidthValue">1</span>
     </b-row >
      <b-row >
      <label>Color Linea:</label>
      <input type="color" min="0" max="150" id="lineColorInput">  
    </b-row>
    <div>
    <b-button variant="danger"> <b-icon icon="bi bi-arrow-down-right-circle"></b-icon> Borrar Todo</b-button>

</div>

        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block v-b-toggle.accordion-2 variant="info">Simbolos</b-button>
      </b-card-header>
      <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>{{ text }}</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>

    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block v-b-toggle.accordion-3 variant="info">Texto</b-button>
      </b-card-header>
      <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <b-card-text>{{ text }}</b-card-text>
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
    </b-col>

  </b-row>
   </b-container>
</template>

<script>
import { fabric } from 'fabric';

import fondo from "../assets/dientes-odontograma.png";
  
export default {
    data() {
    return {
      color1: "#1CA085",
      colorCustom:"#ff00ff",
      image: null,
      stageWidth :900,
      stageHeight : 550,
      //contenedor:null,
      //cambio:null
    };
  },
created() {
  
  window.addEventListener("resize", this.myEventHandler);
   console.log('crao')
},
  mounted() {
     console.log('montado')
  const outerCanvasContainer = document.getElementById('conten');
    this.contenedor=this.$refs.contenedor;
    console.log('cont',outerCanvasContainer.offsetHeight)

    var ref = this.$refs.can;
    var canvas = new fabric.Canvas(ref,{
         width:this.contenedor.offsetWidth,
         height:this.stageHeight,
         isDrawingMode: true,
         
         //width: 500,
    //height: 500

    });
      canvas.setDimensions({
    width: this.contenedor.offsetWidth,
    height: this.contenedor.offsetHeight
  });
    //canvas.setHeight(400);
  //canvas.setDimensions({width:600, height:500});
    canvas.renderAll();
    var data=fondo;
       fabric.Image.fromURL(data, function(img) {
         // add background image
         canvas.setBackgroundImage(img, canvas.renderAll.bind(canvas), {
            scaleX: canvas.width / img.width,
            scaleY: canvas.height / img.height
         });
         });
    this.cambio=canvas;
    const rect = new fabric.Rect({
      fill: 'red',
      width: 100,
      height:100,
      left: 100,
      top:100,
      //selection:true,
    });
    canvas.add(rect);
     fabric.Object.prototype.transparentCorners = false;

  var drawingModeEl = 'Pencil',
      drawingOptionsEl = '12',
      drawingColorEl = 'red',
      drawingShadowColorEl = 'red',
      drawingLineWidthEl = '0',
      drawingShadowWidth = '0',
      drawingShadowOffset = '0',
  clearEl = '';
  clearEl.onclick = function() { canvas.clear() };

  drawingModeEl.onclick = function() {
    canvas.isDrawingMode = !canvas.isDrawingMode;
    if (canvas.isDrawingMode) {
      drawingModeEl.innerHTML = 'Cancel drawing mode';
      drawingOptionsEl.style.display = '';
    }
    else {
      drawingModeEl.innerHTML = 'Enter drawing mode';
      drawingOptionsEl.style.display = 'none';
    }
  };

  if (fabric.PatternBrush) {
    var vLinePatternBrush = new fabric.PatternBrush(canvas);
    vLinePatternBrush.getPatternSrc = function() {

      var patternCanvas = fabric.document.createElement('canvas');
      patternCanvas.width = patternCanvas.height = 10;
      var ctx = patternCanvas.getContext('2d');

      ctx.strokeStyle = this.color;
      ctx.lineWidth = 5;
      ctx.beginPath();
      ctx.moveTo(0, 5);
      ctx.lineTo(10, 5);
      ctx.closePath();
      ctx.stroke();

      return patternCanvas;
    };

    var hLinePatternBrush = new fabric.PatternBrush(canvas);
    hLinePatternBrush.getPatternSrc = function() {

      var patternCanvas = fabric.document.createElement('canvas');
      patternCanvas.width = patternCanvas.height = 10;
      var ctx = patternCanvas.getContext('2d');

      ctx.strokeStyle = this.color;
      ctx.lineWidth = 5;
      ctx.beginPath();
      ctx.moveTo(5, 0);
      ctx.lineTo(5, 10);
      ctx.closePath();
      ctx.stroke();

      return patternCanvas;
    };

    var squarePatternBrush = new fabric.PatternBrush(canvas);
    squarePatternBrush.getPatternSrc = function() {

      var squareWidth = 10, squareDistance = 2;

      var patternCanvas = fabric.document.createElement('canvas');
      patternCanvas.width = patternCanvas.height = squareWidth + squareDistance;
      var ctx = patternCanvas.getContext('2d');

      ctx.fillStyle = this.color;
      ctx.fillRect(0, 0, squareWidth, squareWidth);

      return patternCanvas;
    };

    var diamondPatternBrush = new fabric.PatternBrush(canvas);
    diamondPatternBrush.getPatternSrc = function() {

      var squareWidth = 10, squareDistance = 5;
      var patternCanvas = fabric.document.createElement('canvas');
      var rect = new fabric.Rect({
        width: squareWidth,
        height: squareWidth,
        angle: 45,
        fill: this.color
      });

      var canvasWidth = rect.getBoundingRect().width;

      patternCanvas.width = patternCanvas.height = canvasWidth + squareDistance;
      rect.set({ left: canvasWidth / 2, top: canvasWidth / 2 });

      var ctx = patternCanvas.getContext('2d');
      rect.render(ctx);

      return patternCanvas;
    };

    var img = new Image();
    img.src = '../assets/honey_im_subtle.png';

    var texturePatternBrush = new fabric.PatternBrush(canvas);
    texturePatternBrush.source = img;
  }

 /* $('drawing-mode-selector').onchange = function() {

    if (this.value === 'hline') {
      canvas.freeDrawingBrush = vLinePatternBrush;
    }
    else if (this.value === 'vline') {
      canvas.freeDrawingBrush = hLinePatternBrush;
    }
    else if (this.value === 'square') {
      canvas.freeDrawingBrush = squarePatternBrush;
    }
    else if (this.value === 'diamond') {
      canvas.freeDrawingBrush = diamondPatternBrush;
    }
    else if (this.value === 'texture') {
      canvas.freeDrawingBrush = texturePatternBrush;
    }
    else {
      canvas.freeDrawingBrush = new fabric[this.value + 'Brush'](canvas);
    }

    if (canvas.freeDrawingBrush) {
      var brush = canvas.freeDrawingBrush;
      brush.color = drawingColorEl.value;
      if (brush.getPatternSrc) {
        brush.source = brush.getPatternSrc.call(brush);
      }
      brush.width = parseInt(drawingLineWidthEl.value, 10) || 1;
      brush.shadow = new fabric.Shadow({
        blur: parseInt(drawingShadowWidth.value, 10) || 0,
        offsetX: 0,
        offsetY: 0,
        affectStroke: true,
        color: drawingShadowColorEl.value,
      });
    }
  };*/

  drawingColorEl.onchange = function() {
    var brush = canvas.freeDrawingBrush;
    brush.color = this.value;
    if (brush.getPatternSrc) {
      brush.source = brush.getPatternSrc.call(brush);
    }
  };

  drawingShadowColorEl.onchange = function() {
    canvas.freeDrawingBrush.shadow.color = this.value;
  };
  drawingLineWidthEl.onchange = function() {
    canvas.freeDrawingBrush.width = parseInt(this.value, 10) || 1;
    this.previousSibling.innerHTML = this.value;
  };
  drawingShadowWidth.onchange = function() {
    canvas.freeDrawingBrush.shadow.blur = parseInt(this.value, 10) || 0;
    this.previousSibling.innerHTML = this.value;
  };
  drawingShadowOffset.onchange = function() {
    canvas.freeDrawingBrush.shadow.offsetX = parseInt(this.value, 10) || 0;
    canvas.freeDrawingBrush.shadow.offsetY = parseInt(this.value, 10) || 0;
    this.previousSibling.innerHTML = this.value;
  };

  if (canvas.freeDrawingBrush) {
    canvas.freeDrawingBrush.color = drawingColorEl.value;
    canvas.freeDrawingBrush.source = canvas.freeDrawingBrush.getPatternSrc.call(this);
    canvas.freeDrawingBrush.width = parseInt(drawingLineWidthEl.value, 10) || 1;
    canvas.freeDrawingBrush.shadow = new fabric.Shadow({
      blur: parseInt(drawingShadowWidth.value, 10) || 0,
      offsetX: 0,
      offsetY: 0,
      affectStroke: true,
      color: drawingShadowColorEl.value,
    });
  }
    canvas.add(rect);
  },
  methods: {
  myEventHandler(e) {
    // your code for handling resize...
    console.log('rezise',e);
    console.log('rezise',this.contenedor);
    console.log('rezise',this.cambio);
      //this.cambio.setHeight(this.contenedor.offsetHeight);
      //this.cambio.setWidth(this.contenedor.offsetWidth);
        const outerCanvasContainer = document.getElementById('conten');
         

    const ratio = this.cambio.getWidth() / this.cambio.getHeight();
    const containerWidth   = outerCanvasContainer.clientWidth;
    //const containerHeight  = outerCanvasContainer.clientHeight;

    const scale = containerWidth / this.cambio.getWidth();
    const zoom  = this.cambio.getZoom() * scale;

    this.cambio.setDimensions({width: containerWidth, height: containerWidth / ratio});
    this.cambio.setViewportTransform([zoom, 0, 0, zoom, 0, 0]);

         //height:this.contenedor.offsetHeight-15,
  }
  }
};
</script>


<style >
.principal{
  border: 1px solid black;
}
.vue-vue-swatches__fallback__input--wrapper{
  height: 20px;
}
.vue-swatches__trigger {
    margin-left: 11px;
}

label {
  display: inline-block;
  min-width: 150px;
  
}
</style>