<template>
  <div class="container-fluid text-center">
    <div class="row" style="margin-top: 30px">
      <!--Panel Dashboard-->
      <div class="col-md-9 col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1 class="panel-title h1">ODONTOGRAMA</h1>
          </div>
          <div v-bind:style="{ padding: '0', 'margin-top': '5px' }">
            <div ref="contenedor" id="conten" class="contenido">
              <canvas
                style="width:900px, heigth: 500px"
                ref="can"
                class="principal"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
      <!--Panel opciones-->
      <div class="col-md-3 col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title h3">
              <span class="glyphicon glyphicon-cog"></span> Opciones
            </h3>
          </div>
          <div class="panel-body">
            <div class="row text-center">
              <div class="col-md-12 col-sm-6 mb-3">
                <h3 class="font-weight-bold">Simbolos</h3>
                <div id="drag-items mb-3">
                  <div id="imgset">
                    <div class="col-md-3 col-sm-3 mb-3">
                      <img
                        class="button-color-draw"
                        src="../assets/simbols/caries.svg"
                        draggable="true"
                      />
                      <p class="titulo-simbolo">Caries</p>
                    </div>

                    <div class="col-md-3 col-sm-3 mb-3">
                      <img
                        class="button-color-draw"
                        src="../assets/simbols/ausente.svg"
                        draggable="true"
                      />
                      <p class="titulo-simbolo">Ausente</p>
                    </div>

                    <div class="col-md-3 col-sm-3 mb-3">
                      <img
                        class="button-color-draw"
                        src="../assets/simbols/fractura.svg"
                        draggable="true"
                      />
                      <p class="titulo-simbolo">Fractura</p>
                    </div>

                    <div class="col-md-3 col-sm-3 mb-3">
                      <img
                        class="button-color-draw"
                        src="../assets/simbols/indicado-para-extraccion.svg"
                        draggable="true"
                      />
                      <p class="titulo-simbolo">Indicado para extracción</p>
                    </div>
                    <div class="col-md-3 col-sm-3 mb-3">
                      <img
                        class="button-color-draw"
                        src="../assets/simbols/poste.svg"
                        draggable="true"
                      />
                      <p class="titulo-simbolo">Poste</p>
                    </div>
                    <div class="col-md-3 col-sm-3 mb-3">
                      <img
                        class="button-color-draw"
                        src="../assets/simbols/ortodoncia.svg"
                        draggable="true"
                      />
                      <p class="titulo-simbolo">Ortodoncia</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-6 mb-3">
                <h3 class="font-weight-bold">Seleccione Color</h3>

                <input type="hidden" id="colorPincell" v-model="colorPincel" />
                <div class="container-button">
                  <div
                    class="coloresdiv"
                    style="background-color: #000000"
                  ></div>
                  <div
                    class="coloresdiv"
                    style="background-color: #ff0000"
                  ></div>
                  <div
                    class="coloresdiv"
                    style="background-color: #0000ff"
                  ></div>
                  <input
                    type="color"
                    name="colorp"
                    value="#ff55ff"
                    @change="changeLineColor($event)"
                    min="0"
                    max="150"
                    class="colores"
                  />
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-md-12 col-sm-6 mb-3">
                <h3 class="font-weight-bold">Tamaño de pincel</h3>
                <div class="container-pencils">
                  <div class="button-pencils active-pincel" id="s3">
                    <div class="sizeCircle3"></div>
                  </div>
                  <div class="button-pencils" id="s6">
                    <div class="sizeCircle6"></div>
                  </div>
                  <div class="button-pencils" id="s9">
                    <div class="sizeCircle9"></div>
                  </div>
                  <div class="button-pencils" id="s12">
                    <div class="sizeCircle12"></div>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-3">
                <h3 class="font-weight-bold">Notas</h3>
              </div>

              <div class="container-button">
                <div
                  class="button-color-draw active"
                  id="addpencil"
                  @click="toggleMode"
                  role="button"
                  style="background-color: #0d6efd"
                >
                  <span class="glyphicon glyphicon-pencil iconA"></span>
                </div>
                <div
                  class="button-texto button-color-draw"
                  id="addText"
                  @click="addText"
                  style="background-color: #0dcaf0; border:0px solid transparent;padding: 9px;"
                >
                  <span class="glyphicon glyphicon-bold"></span> Agregar Texto
                </div>
              </div>
            </div>
            <div class="container-button" style="margin: 20px">
              <div
                class="button-texto"
                @click="generarPdf()"
                id="generarPdf"
                style="background-color: #198754"
              >
                <span class="glyphicon glyphicon-file"></span> Generar PDF
              </div>
              <div
                @click="clearCanvas"
                class="button-texto"
                id="clearAll"
                style="background-color: #dc3545"
              >
                <span class="glyphicon glyphicon-trash"></span> Limpiar Todo
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { fabric } from "fabric";
import fondo from "../assets/dientes-odontograma.png";
import deleteIcon from "../assets/deleteIcon.svg";
import cloneIcon from "../assets/cloneIcon.svg";
import { jsPDF } from "jspdf";
export default {
  data() {
    return {
      colorPincel: "#000000",
      image: null,
      stageWidth: 900,
      stageHeight: 500,
      isDrawingMode: true,
      fondo: fondo,
      canvasCopia: {},
      valLinea: 3,
      valTexto: 30,
      deleteIcon: deleteIcon,
      cloneIcon: cloneIcon,
      imgDragOffset: {
        offsetX: 0,
        offsetY: 0,
      },
    };
  },
  computed: {},
  created() {
    window.addEventListener("resize", this.rezisePanel);
  },
  mounted() {
    window.addEventListener("resize",this.rezisePanel);
    var movingImage;
    console.log(movingImage);
    this.contenedor = this.$refs.contenedor;
    var ref = this.$refs.can;
    var canvas = new fabric.Canvas(ref, {
      width: this.contenedor.offsetWidth,
      height: this.stageHeight,
      isDrawingMode: this.isDrawingMode,
    });
    canvas.setDimensions({
      width: this.contenedor.offsetWidth,
      height: this.contenedor.offsetHeight,
    });
    this.canvasCopia = canvas;
    this.canvasCopia.freeDrawingBrush.width = this.valLinea;
    canvas.renderAll();
    //fondo
    fabric.Image.fromURL(this.fondo, function (img) {
      // add background image
      canvas.setBackgroundImage(img, canvas.renderAll.bind(canvas), {
        scaleX: canvas.width / img.width,
        scaleY: canvas.height / img.height,
      });
    });
    //Eventos Mouse

    canvas.on("object:selected", this.onObjectSelected);
    const imgset = document.getElementById("imgset");

    var imgDragOffset = {
      offsetX: 0,
      offsetY: 0,
    };
    var srcImg;
    function saveImg(e) {
        //Seleccion pincel y simbolos
    var btnAction1 = document.querySelectorAll(".button-color-draw");
    if (btnAction1) {
      btnAction1.forEach(function (el, key) {
        
          el.classList.toggle("active");
          if (el.classList.contains("active")) {
            if (el.id === "addpencil") {
              console.log("addpencil");
            } else if (el.id === "erasepencil") {
              console.log("addpencil");
            } else {
              console.log("addpencil");
            }
          } else {
            console.log("addpencil");
          }
          btnAction1.forEach(function (ell, els) {
            if (key !== els) {
              ell.classList.remove("active");
            }
          });
        
      });
    }
      canvas.isDrawingMode = false;
      srcImg = e.target.src;
      if (e.target.tagName.toLowerCase() === "img") {
        imgDragOffset.offsetX = e.clientX - e.target.offsetLeft;
        imgDragOffset.offsetY = e.clientY - e.target.offsetTop;
        movingImage = e.target;
      }
    }

    function saveImgMovil(e) {
      canvas.isDrawingMode = false;
      srcImg = e.target.src;
      if (e.target.tagName.toLowerCase() === "img") {
        imgDragOffset.offsetX = e.clientX - e.target.offsetLeft;
        imgDragOffset.offsetY = e.clientY - e.target.offsetTop;
        movingImage = e.target;
      }
    }

    function dropImg(e) {
      var point=canvas.getPointer(e.e,false);
      var pointX=point.x-20;
      var pointY=point.y-20;
      /*const image = new fabric.Image(movingImage, {
        width: movingImage.naturalWidth,
        height: movingImage.naturalHeight,
        //scaleX: 100 / movingImage.naturalWidth,
        //scaleY: 100 / movingImage.naturalHeight,
        top: offsetY - movingImage.naturalWidth / 2,
        left: offsetX - movingImage.naturalHeight / 2,
      });
      */
      //agregar svg
      var url = srcImg;
      var colorL = document.getElementById("colorPincell").value;
      fabric.loadSVGFromURL(url, function (objects, options) {
        var obj = fabric.util.groupSVGElements(objects, options);
        obj.set({
          top:  pointY, 
          left:  pointX
        });

        if (obj && obj._objects) {
          if (obj.id !== "caries" && obj._objects[0].id !== "caries") {
            for (var i = 0; i < obj._objects.length; i++) {
              obj._objects[i].set({
                fill: colorL,
                stroke: colorL,
              });
            }
          } else {
            obj._objects[0].set({
              fill: colorL,
              stroke: colorL,
            });
          }
        }
        canvas.add(obj);
         canvas.renderAll.bind(canvas)
      });
    }
    function is_Mobile() {
      return (
        navigator.userAgent.match(/Android/i) ||
        navigator.userAgent.match(/webOS/i) ||
        navigator.userAgent.match(/iPhone/i) ||
        navigator.userAgent.match(/iPod/i) ||
        navigator.userAgent.match(/iPad/i) ||
        navigator.userAgent.match(/BlackBerry/i)
      );
    }
    function dropImgMovil(e) {
      if (is_Mobile()) {
        var point = canvas.getPointer(e);
        var x = point.x;
        var y = point.y;
        var url = srcImg;
        var colorL = document.getElementById("colorPincell").value;
        fabric.loadSVGFromURL(url, function (objects, options) {
          var obj = fabric.util.groupSVGElements(objects, options);
          obj.set({
            //width: movingImage.naturalWidth,
            //height: movingImage.naturalHeight,
            top: y - 20, //- movingImage.naturalWidth / 2,
            left: x - 20, //- movingImage.naturalHeight / 2,
          });
          //var color = '#ff00ff';

          if (obj && obj._objects) {
            if (obj.id !== "caries" && obj._objects[0].id !== "caries") {
              for (var i = 0; i < obj._objects.length; i++) {
                obj._objects[i].set({
                  fill: colorL,
                  stroke: colorL,
                });
              }
            } else {
              obj._objects[0].set({
                fill: colorL,
                stroke: colorL,
              });
            }
          }
          canvas.add(obj);
          canvas.renderAll();
        });
      } else {
        console.log("pc");
      }
    }
    canvas.on("drop", dropImg);
    canvas.on("mouse:up", dropImgMovil);

    imgset.addEventListener("mousedown", saveImg);
    imgset.addEventListener("touchend", saveImgMovil);

    //cambiar colores primario
    var coloresdiv = Array.from(document.getElementsByClassName("coloresdiv"));

    coloresdiv.forEach((button) => {
      button.addEventListener("click", () => {
        coloresdiv.forEach((button) => {
          button.classList.remove("button-selected");
        });
        button.classList.add("button-selected");
        this.colorPincel = button.style.backgroundColor;
        this.canvasCopia.freeDrawingBrush.color = this.colorPincel;
        this.canvasCopia.renderAll();
      });
    });

    //Seleccion tamaño pincel
    var btnSize = Array.from(document.getElementsByClassName("button-pencils"));
    btnSize.forEach(function (el, key) {
      el.addEventListener("click", function () {
        el.classList.toggle("active-pincel");
        if (el.classList.contains("active-pincel")) {
          if (el.id === "s3") {
            this.valLinea = 3;
          } else if (el.id === "s6") {
            this.valLinea = 6;
          } else if (el.id === "s9") {
            this.valLinea = 9;
          } else if (el.id === "s12") {
            this.valLinea = 12;
          }
        } else {
          this.valLinea = 3;
        }
        canvas.freeDrawingBrush.width = this.valLinea;
        canvas.isDrawingMode = true;
        btnSize.forEach(function (ell, els) {
          if (key !== els) {
            ell.classList.remove("active-pincel");
          }
        });
      });
      canvas.renderAll();
    });

    //Seleccion pincel y simbolos
    var btnAction1 = document.querySelectorAll(".button-color-draw");
    if (btnAction1) {
      btnAction1.forEach(function (el, key) {
        el.addEventListener("click", function () {
          el.classList.toggle("active");
          if (el.classList.contains("active")) {
            if (el.id === "addpencil") {
              console.log("addpencil");
            } else if (el.id === "erasepencil") {
              console.log("addpencil");
            } else {
              console.log("addpencil");
            }
          } else {
            console.log("addpencil");
          }
          btnAction1.forEach(function (ell, els) {
            if (key !== els) {
              ell.classList.remove("active");
            }
          });
        });
      });
    }

    //Agregando Iconos delete y Clone
    var deleteImg = document.createElement("img");
    deleteImg.src = this.deleteIcon;
    var cloneImg = document.createElement("img");
    cloneImg.src = cloneIcon;
    fabric.Object.prototype.transparentCorners = true;
    fabric.Object.prototype.cornerColor = "gray";
    //fabric.Object.prototype.cornerStyle = "circle";

    function renderIcon(icon) {
      return function renderIcon(ctx, left, top, styleOverride, fabricObject) {
        var size = this.cornerSize;
        ctx.save();
        ctx.translate(left, top);
        ctx.rotate(fabric.util.degreesToRadians(fabricObject.angle));
        ctx.drawImage(icon, -size / 2, -size / 2, size, size);
        ctx.restore();
      };
    }

    fabric.Object.prototype.controls.deleteControl = new fabric.Control({
      x: 0.5,
      y: -0.5,
      offsetY: -16,
      offsetX: 16,
      cursorStyle: "pointer",
      mouseUpHandler: deleteObject,
      render: renderIcon(deleteImg),
      cornerSize: 24,
    });
    //clone
    fabric.Object.prototype.controls.clone = new fabric.Control({
      x: -0.5,
      y: -0.5,
      offsetY: -16,
      offsetX: -16,
      cursorStyle: "pointer",
      mouseUpHandler: cloneObject,
      render: renderIcon(cloneImg),
      cornerSize: 24,
    });

    //clone function
    function deleteObject(eventData, transform) {
      var target = transform.target;
      var canvas = target.canvas;
      canvas.remove(target);
      canvas.requestRenderAll();
    }
    function cloneObject(eventData, transform) {
      var target = transform.target;
      var canvas = target.canvas;
      target.clone(function (cloned) {
        cloned.left += 10;
        cloned.top += 10;
        canvas.add(cloned);
      });
    }

  },
  onObjectSelected() {
    // check if type is a property of active element
    //var objType = (this.canvas.getActiveObject().type ? this.canvas.getActiveObject().type : "");
    //console.log(this.canvas.getActiveObject());
    console.log('ee')

    // your code to process the object
  },

  methods: {
    rezisePanel() {
      // your code for handling resize...
      const outerCanvasContainer = document.getElementById("conten");
      const ratio = this.canvasCopia.getWidth() / this.canvasCopia.getHeight();
      const containerWidth = outerCanvasContainer.clientWidth;
      const scale = containerWidth / this.canvasCopia.getWidth();
      const zoom = this.canvasCopia.getZoom() * scale;
      this.canvasCopia.setDimensions({
        width: containerWidth,
        height: containerWidth / ratio,
      });
      this.canvasCopia.setViewportTransform([zoom, 0, 0, zoom, 0, 0]);
      this.canvasCopia.renderAll()
    },
    toggleMode() {
      this.canvasCopia.isDrawingMode = !this.canvasCopia.isDrawingMode;
    },
    disableDrawing() {
      this.canvasCopia.isDrawingMode = false;
    },
    enableDrawing() {
      this.canvasCopia.isDrawingMode = true;
    },
    changeLineColor(e) {
      this.colorPincel = e.target.value;
      this.canvasCopia.freeDrawingBrush.color = this.colorPincel;
      this.canvasCopia.renderAll();
    },
    clearCanvas() {
      this.canvasCopia.getObjects().forEach((obj) => {
        this.canvasCopia.remove(obj);
      });
    },

    //Texto
    addText() {
      this.disableDrawing();
      this.canvasCopia.add(
        new fabric.IText("Texto", {
          left: this.canvasCopia.getWidth() / 2,
          top: this.canvasCopia.getHeight() / 2,
          originX: "center",
          originY: "center",
          fontFamily: "Arial",
          fill: this.colorPincel,
          fontSize: this.valTexto,
          //lockUniScaling: false,
        })
      );
    },
    //handler for moving objects on canvas
    moveHandler(evt) {
      var movingObject = evt.target;
      console.log(movingObject.get("left"), movingObject.get("top"));
      //this.selectAllCanvasObjects();
    },
    mouseUpHandle(evt) {
      var mouseUp = evt.target;
      console.log(mouseUp);
      //this.canvasCopia.freeDrawingBrush.color = this.colorPincel;
      this.canvasCopia.renderAll();
    },
    generarPdf() {
      this.disableDrawing();
      var pdf = new jsPDF("l", "px");
      pdf.addImage(
        this.canvasCopia.toDataURL({ pixelRatio: 1.5 }),
        "PNG",
        50,
        50,
        pdf.internal.pageSize.getWidth() - 100,
        pdf.internal.pageSize.getHeight() - 100
      );
      var datePdf = new Date();
      pdf.setTextColor(0, 0, 0);
      pdf.setFontSize(22);
      pdf.setFont("bold");
      pdf.text(
        pdf.internal.pageSize.getWidth() / 2,
        30,
        "ODONTOGRAMA",
        "center"
      );

      pdf.setTextColor(0, 0, 0);
      pdf.setFontSize(12);
      pdf.setFont("normal");
      pdf.text(50, 30, "Odontologo:");
      pdf.text(50, 40, "Dr: Nombre Doctor");

      pdf.setTextColor(0, 0, 0);
      pdf.setFont("normal");
      pdf.setFontSize(12);
      pdf.text(pdf.internal.pageSize.getWidth() - 150, 30, "Paciente:");
      pdf.text(pdf.internal.pageSize.getWidth() - 150, 40, "Nombre Paciente");

      pdf.setTextColor(0, 0, 0);
      pdf.setFont("normal");
      pdf.setFontSize(10);
      pdf.text(
        pdf.internal.pageSize.getWidth() - 200,
        pdf.internal.pageSize.getHeight() - 20,
        `Fecha Impresion: ${datePdf.getDate()}/0${
          datePdf.getMonth() + 1
        }/${datePdf.getFullYear()} Hora:${datePdf.getHours()}:${datePdf.getMinutes()}:${datePdf.getSeconds()}`
      );
      var nameFile = `Odontograma-${datePdf.getDate()}0${
        datePdf.getMonth() + 1
      }${datePdf.getFullYear()}${datePdf.getHours()}${datePdf.getMinutes()}${datePdf.getSeconds()}.pdf`;
      //pdf.save(`Odontograma-${datePdf.getDate()}0${datePdf.getMonth() + 1}${datePdf.getFullYear()}${datePdf.getHours()}${datePdf.getMinutes()}${datePdf.getSeconds()}.pdf`);
      pdf.setProperties({ title: nameFile });
      //string pdf
      var pdfOutput = pdf.output("bloburl", [nameFile]);
      //mostrar en nueva pagina
      window.open(pdfOutput);
    },
    guardarJSON() {
      this.disableDrawing();
      var json_data = JSON.stringify(this.canvasCopia.toDatalessJSON());
      console.log(json_data);
    },
    cargarJSON() {
      this.disableDrawing();
      var json_data =
        '{"version":"4.3.1","objects":[{"type":"path","version":"4.3.1","originX":"left","originY":"top","left":223.99,"top":182.5,"width":220.02,"height":57,"fill":null,"stroke":"rgb(0, 0, 0)","strokeWidth":11,"strokeDashArray":null,"strokeLineCap":"round","strokeDashOffset":0,"strokeLineJoin":"round","strokeUniform":false,"strokeMiterLimit":10,"scaleX":1,"scaleY":1,"angle":0,"flipX":false,"flipY":false,"opacity":1,"shadow":null,"visible":true,"backgroundColor":"","fillRule":"nonzero","paintFirst":"fill","globalCompositeOperation":"source-over","skewX":0,"skewY":0,"path":[["M",449.511,208.989],["Q",449.5,209,445,211.5],["Q",440.5,214,437,215.5],["Q",433.5,217,429,219],["Q",424.5,221,419.5,222.5],["Q",414.5,224,410.5,226],["Q",406.5,228,401.5,229.5],["Q",396.5,231,392.5,232.5],["Q",388.5,234,384.5,235],["Q",380.5,236,377,237],["Q",373.5,238,370,238.5],["Q",366.5,239,363,239.5],["Q",359.5,240,356,240.5],["Q",352.5,241,349.5,241.5],["Q",346.5,242,344.5,242.5],["Q",342.5,243,340.5,243.5],["Q",338.5,244,336,244.5],["Q",333.5,245,332.5,245],["Q",331.5,245,330.5,245],["Q",329.5,245,328,245],["Q",326.5,245,325.5,244.5],["Q",324.5,244,323,243],["Q",321.5,242,320,241],["Q",318.5,240,317.5,238.5],["Q",316.5,237,315,235],["Q",313.5,233,312.5,230],["Q",311.5,227,310.5,224.5],["Q",309.5,222,309,218.5],["Q",308.5,215,308.5,213],["Q",308.5,211,308.5,208],["Q",308.5,205,309,202.5],["Q",309.5,200,310.5,198],["Q",311.5,196,312.5,194.5],["Q",313.5,193,314,192],["Q",314.5,191,315.5,190],["Q",316.5,189,317,188.5],["Q",317.5,188,317,188],["Q",316.5,188,315,188],["Q",313.5,188,311.5,188],["Q",309.5,188,306.5,188],["Q",303.5,188,301,188],["Q",298.5,188,295,188],["Q",291.5,188,288.5,188],["Q",285.5,188,280.5,188.5],["Q",275.5,189,271.5,189.5],["Q",267.5,190,262.5,191],["Q",257.5,192,253.5,193],["Q",249.5,194,246,195],["Q",242.5,196,239.5,197],["Q",236.5,198,235,198.5],["Q",233.5,199,232,199.5],["Q",230.5,200,230,200],["L",229.489,200]]},{"type":"path","version":"4.3.1","originX":"left","originY":"top","left":414,"top":159.49,"width":210.01,"height":159.02,"fill":null,"stroke":"#cd0ecd","strokeWidth":11,"strokeDashArray":null,"strokeLineCap":"round","strokeDashOffset":0,"strokeLineJoin":"round","strokeUniform":false,"strokeMiterLimit":10,"scaleX":1,"scaleY":1,"angle":0,"flipX":false,"flipY":false,"opacity":1,"shadow":null,"visible":true,"backgroundColor":"","fillRule":"nonzero","paintFirst":"fill","globalCompositeOperation":"source-over","skewX":0,"skewY":0,"path":[["M",629.511,164.989],["Q",629.5,165,628,166],["Q",626.5,167,626,168],["Q",625.5,169,624,170.5],["Q",622.5,172,621.5,173.5],["Q",620.5,175,618.5,177.5],["Q",616.5,180,615.5,181.5],["Q",614.5,183,612,185.5],["Q",609.5,188,607,190.5],["Q",604.5,193,602.5,194.5],["Q",600.5,196,598,198.5],["Q",595.5,201,594,203],["Q",592.5,205,590.5,206.5],["Q",588.5,208,587.5,208.5],["Q",586.5,209,584.5,210.5],["Q",582.5,212,581,213.5],["Q",579.5,215,577,216.5],["Q",574.5,218,572,220.5],["Q",569.5,223,566.5,225],["Q",563.5,227,561.5,229],["Q",559.5,231,557,233],["Q",554.5,235,552,236.5],["Q",549.5,238,547.5,239.5],["Q",545.5,241,544,243],["Q",542.5,245,540,246],["Q",537.5,247,536,248.5],["Q",534.5,250,533,251],["Q",531.5,252,530,253.5],["Q",528.5,255,526.5,256.5],["Q",524.5,258,523,259],["Q",521.5,260,519,261.5],["Q",516.5,263,515,264.5],["Q",513.5,266,511,267],["Q",508.5,268,506,269.5],["Q",503.5,271,502,272],["Q",500.5,273,499.5,273.5],["Q",498.5,274,498,274.5],["Q",497.5,275,497,275.5],["Q",496.5,276,496,276],["Q",495.5,276,495,276.5],["Q",494.5,277,494.5,277.5],["Q",494.5,278,493.5,278.5],["Q",492.5,279,491.5,279.5],["Q",490.5,280,489,281.5],["Q",487.5,283,485.5,283.5],["Q",483.5,284,481.5,285.5],["Q",479.5,287,477,288.5],["Q",474.5,290,471.5,291.5],["Q",468.5,293,465,295],["Q",461.5,297,458,299],["Q",454.5,301,451,303.5],["Q",447.5,306,444,308],["Q",440.5,310,437,312.5],["Q",433.5,315,431,316],["Q",428.5,317,427,318.5],["Q",425.5,320,424,321],["Q",422.5,322,421,322.5],["Q",419.5,323,419.5,323.5],["L",419.5,324.011]]},{"type":"path","version":"4.3.1","originX":"left","originY":"top","left":445.45,"top":82,"width":148.09,"height":9,"fill":null,"stroke":"#cd0ecd","strokeWidth":46,"strokeDashArray":null,"strokeLineCap":"round","strokeDashOffset":0,"strokeLineJoin":"round","strokeUniform":false,"strokeMiterLimit":10,"scaleX":1,"scaleY":1,"angle":0,"flipX":false,"flipY":false,"opacity":1,"shadow":null,"visible":true,"backgroundColor":"","fillRule":"nonzero","paintFirst":"fill","globalCompositeOperation":"source-over","skewX":0,"skewY":0,"path":[["M",616.546,106.954],["Q",616.5,107,615.5,107.5],["Q",614.5,108,613.5,109],["Q",612.5,110,611,110],["Q",609.5,110,608,110.5],["Q",606.5,111,603.5,112],["Q",600.5,113,597.5,113.5],["Q",594.5,114,592,114],["Q",589.5,114,586,114],["Q",582.5,114,578.5,114],["Q",574.5,114,570,114],["Q",565.5,114,560,114],["Q",554.5,114,550,113.5],["Q",545.5,113,540,112.5],["Q",534.5,112,528.5,111.5],["Q",522.5,111,517,110.5],["Q",511.5,110,505.5,109],["Q",499.5,108,494,107],["Q",488.5,106,485,105.5],["Q",481.5,105,480,105],["Q",478.5,105,478,105],["Q",477.5,105,477,105],["Q",476.5,105,476,105],["Q",475.5,105,475,105],["Q",474.5,105,473.5,105],["Q",472.5,105,472,105.5],["Q",471.5,106,471,106],["Q",470.5,106,470,106],["Q",469.5,106,469,106.5],["L",468.454,107.046]]},{"type":"i-text","version":"4.3.1","originX":"center","originY":"center","left":235,"top":286,"width":104.76,"height":38.42,"fill":"#f00000","stroke":null,"strokeWidth":1,"strokeDashArray":null,"strokeLineCap":"butt","strokeDashOffset":0,"strokeLineJoin":"miter","strokeUniform":false,"strokeMiterLimit":4,"scaleX":1,"scaleY":1,"angle":0,"flipX":false,"flipY":false,"opacity":1,"shadow":null,"visible":true,"backgroundColor":"#35ed6d","fillRule":"nonzero","paintFirst":"fill","globalCompositeOperation":"source-over","skewX":0,"skewY":0,"text":"Texto","fontSize":"34","fontWeight":"normal","fontFamily":"arial black","fontStyle":"normal","lineHeight":1.16,"underline":false,"overline":false,"linethrough":false,"textAlign":"left","textBackgroundColor":"","charSpacing":0,"styles":{}},{"type":"image","version":"4.3.1","originX":"left","originY":"top","left":294.5,"top":97,"width":32,"height":25,"fill":"rgb(0,0,0)","stroke":null,"strokeWidth":0,"strokeDashArray":null,"strokeLineCap":"butt","strokeDashOffset":0,"strokeLineJoin":"miter","strokeUniform":false,"strokeMiterLimit":4,"scaleX":1,"scaleY":1,"angle":0,"flipX":false,"flipY":false,"opacity":1,"shadow":null,"visible":true,"backgroundColor":"","fillRule":"nonzero","paintFirst":"fill","globalCompositeOperation":"source-over","skewX":0,"skewY":0,"cropX":0,"cropY":0,"src":"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAZCAYAAABQDyyRAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFMSURBVEhLY6AE/GdgcIAyBwZ8FRT8/5mLaz+US1/wVl5+PzAE/kMxfUPiOR+fA5Ll/79ycwMpOgKgbci+B+OPwsL0iYr3PDwN6JbD8Ac2NtpGxS0VFZSgR8dfhYWBFA0B0HSMoEfHr5SVaRMVr6WkcAY9Or4vLk7dqLjq7Ozwh5ERq2U4MHVD4QczM8GgR8dvhYQaoNopA6+1tYkOenR83diY8qj4wcqK1XAiMWVRASrnsRhKEn6lpEReVAA1483zxOLfTEz/r4eFkR4VoPIdm4Hk4O+srKRFBahcx2YQhZi4UACV51g0U4y/s7EBKSIAqDxH10wt/JmHB39UgMpxbBqpjLFHBaj8xqKY6vgrLy+QwgKAovTwPRi/kZBAjQpQuY1NIS3xay4uSFSccHWlS9Cj469iYkCKgYHxgrCwg/7bt5RXGmSAM+HhBwDLFvXwkj3UXwAAAABJRU5ErkJggg==","crossOrigin":null,"filters":[]}],"backgroundImage":{"type":"image","version":"4.3.1","originX":"left","originY":"top","left":0,"top":0,"width":3000,"height":2000,"fill":"rgb(0,0,0)","stroke":null,"strokeWidth":0,"strokeDashArray":null,"strokeLineCap":"butt","strokeDashOffset":0,"strokeLineJoin":"miter","strokeUniform":false,"strokeMiterLimit":4,"scaleX":0.24,"scaleY":0.28,"angle":0,"flipX":false,"flipY":false,"opacity":1,"shadow":null,"visible":true,"backgroundColor":"","fillRule":"nonzero","paintFirst":"fill","globalCompositeOperation":"source-over","skewX":0,"skewY":0,"cropX":0,"cropY":0,"src":"http://localhost:8080/img/dientes-odontograma.6a998bba.png","crossOrigin":null,"filters":[]}}';
      this.canvasCopia.loadFromJSON(
        json_data,
        this.canvasCopia.renderAll.bind(this.canvasCopia),
        function (o, object) {
          fabric.log(o, object);
        }
      );
    },
    rasterizeSVG() {
      var trsvg = this.canvasCopia.toSVG();
      console.log(trsvg);
    },
  },
};
</script>

<style>
.principal {
  border: 1px solid black;
}

label {
  display: inline-block;
  min-width: 130px;
}

.colores {
  width: 35px;
  height: 35px;
  padding: 0px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px !important;
  background-color: transparent;
  margin-left: 4px;
  margin-right: 4px;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
p {
  margin: 0 0 5px;
}
.coloresdiv {
  width: 35px;
  height: 35px;
  padding: 0px;
  cursor: pointer;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: transparent;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -khtml-user-select: none;
  border: none;
  border-radius: 5px;
  padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 5px;
}
input[type="color"]::-moz-color-swatch-wrapper {
  padding: 0;
  border-radius: 5px;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
  padding: 0;
}
input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 5px;
  padding: 0;
}
input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 5px;
  padding: 0;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}

#buttons {
  position: absolute;
  left: 10px;
  top: 100px;
}
button {
  margin-top: 10px;
  display: block;
}

.button-color {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}
.button-color-draw {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}
.button-texto {
  min-width: 140px;
  height: 42px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  font-size: 15px;
  color: #fff;
  padding: 9px;
  font-weight: 700;
}
.container-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container-pencils {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-selected {
  border: 3px solid #0d6efd;
}
.button-color-draw.active {
  border: 2px solid #03f500;
  padding: 2px;
}

span.iconA {
  font-size: 18px;
  color: #fff;
  padding-top: 10px;
}

.panel-body.dash {
  padding: 5px;
}
canvas:focus,
.konvajs-content:focus,
#container:focus,
img.button-color-draw {
  width: 36px;
  height: 36px;
}

.button-pencils {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 10px;
  background-color: #00ff9d;
  cursor: pointer;
  margin: 5px;
}
.button-pencils.active-pincel {
  border: 2px solid #f51000;
  padding: 2px;
}
p.titulo-simbolo {
  text-align: center;
  font-size: 11px;
}
.sizeCircle3 {
  height: 5px;
  width: 5px;
  border-radius: 50px;
  background-color: black;
  margin: auto;
}
.sizeCircle6 {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background-color: black;
  margin: auto;
}
.sizeCircle9 {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: black;
  margin: auto;
}
.sizeCircle12 {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: black;
  margin: auto;
}
</style>
