<template>
  <div class="container">
    <div class="row pt-4">
      <div class="col-md-8 col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1 class="panel-title h1">OFTAMOLOGÍA</h1>
          </div>
          <div class="panel-body">
            <div v-bind:style="{ height: '400', width: '600' }" ref="container" class="contenedor">
              <v-stage ref="stage" :config="stageSize">
                <v-layer>

                   <v-image :config="{
            image: image,
            
          }"/>
               <!-- note -->
          <v-text
          v-for="item in listNote"
          :key="item.config.name"
          :ref="item.config.name"
          :config="item.config"
          @click="editText"
          />
                </v-layer>
                <v-layer ref="dragLayer"></v-layer>

              </v-stage>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title h3">
              <span class="glyphicon glyphicon-cog"></span> Opciones
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-12 mb-3">
                <h3 class="font-weight-bold">Seleccione Color</h3>
              </div>
         <div class="form__field">
    <div class="form__label">
      <v-swatches v-model="color1" inline :show-checkbox="false" :swatches="[{ color: '#000000'},{ color: '#ff0000' },{ color: '#0000ff' }]"></v-swatches>
      <v-swatches
        v-model="colorCustom" show-fallback
        fallback-input-type="color"></v-swatches>
    </div>

  </div>
            </div>
            <div class="row">
              <div class="col-12 mb-3">
                <h3 class="font-weight-bold">Simbolos</h3>
                <div id="drag-items mb-3">
                  <img src="../assets/imagen2.png" draggable="true" />
                </div>
              </div>
            </div>
            <div class="row" style="margin: 20px">
              <button type="primary" size="mini" @click="addNote">Agregar Texto</button>
            </div>
            <div class="row" style="margin: 20px">
              <a 
                class="btn btn-danger bt-lg"
                style="
                   {
                    margin-top: 20px;
                  }
              "
                role="button"
                ><span  class="glyphicon glyphicon-file"></span> Generar PDF</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const width = 600;
const height = 400;
const fontSize = 14;
const fontFamily = "Saira Semi Condensed";
import VSwatches from "vue-swatches";
import fondo from "../assets/ojos-prueba.jpg";

export default {
  components: {
    VSwatches,
  },
  data() {
    return {
      stageSize: {
        width: width,
        height: height,
      },
      color1: "#1CA085",
      colorCustom:"#ff00ff",
      image: null,
            lastPointerPosition: {
        x: 0,
        y: 0,
      },
        listNote: [],
    };
  },
  created: function () {
    window.addEventListener("resize", this.changeRect);
    const container = document.querySelector(".contenedor");
    this.changeRect();
     const image = new window.Image();
    image.src = fondo;
    image.onload = () => {
      // set image only when it is loaded
      this.image = image;
      this.image.width=this.stageSize.width;
      this.image.height=this.stageSize.height;
      console.log(container.offsetWidth);
      console.log(container.offsetHeight);
     
  }
   },
  methods: {
        addNote() {
      this.numberRefs += 1;
      let new_note = {
        config: {
          width: 150,
          text: "nota",
          fontSize: fontSize,
          fontFamily: fontFamily,
          draggable: true,
          name: `text${this.numberRefs}`,
          x: this.lastPointerPosition.x || 100,
          y: this.lastPointerPosition.y || 0,
          ellipsis: true,
          fill: "red",
          backgroundColor: "#FFAAFF",
        },
      };
      let numberNote = this.listNote.length;
      this.$set(this.listNote, numberNote, new_note);

      this.$nextTick(() => {
        this.addTransformerImmediate(this.listNote[numberNote].config.name);
      });
    },
    changeRect: function () {
      const container = this.$refs.container;
      
      if (!container) {
        return;
      }

      const height = container.offsetHeight;
      const width = container.offsetWidth;

      console.log(height, height);
      this.stageSize.width = width;
      this.stageSize.height = height;
           this.image.width=this.stageSize.width;
      this.image.height=this.stageSize.height;
    },

  },
    mounted() {
    //const container = document.querySelector(".container");
    
  },
};
</script>
<style>
.vue-vue-swatches__fallback__input--wrapper{
  height: 20px;
}
.vue-swatches__trigger {
    margin-left: 11px;
}
</style>